:root{
    --tono: #59fb74d4;
    --complementario: #eded98 ;
    --contraste: #121213;

    /*paleta monocromatica principal*/
    --color-principal: hsla(var(--tono), 100%, 40%, 1);
    --color-principal-medio: hsla(var(--tono), 100%, 86%, 1);
    --color-principal-claro: hsla(var(--tono), 100%, 98%, 1);
    --color-principal-oscuro: hsla(var(--tono), 100%, 15%, 1);

    /*Color complementario*/
    --color-complementario: hsla(var(--complementario), 100%, 48%, 1);

    /*Color contraste*/
    --color-contraste-oscuro:hsla(var(--contraste), 13%, 10%, 1);
    --color-contraste-media:hsla(var(--contraste), 15%, 40%, 1);

    /*Valores*/
    --color-blanco: white;

    /*Tipografía*/
    --fuente-principal: 'Garamond', sans-serif;

    /*peso de letra*/
    --light: 300;
    --normal: 400;
    --bold: 700;
}

/*Configuración global*/
h1, h2, h3, h4, h5, h6, p, a, span{
    color: var(--color-contraste-oscuro);
    text-decoration: none;
}

ul{
    list-style: none;
}

.light{
    font-weight: var(--light);
}

.normal{
    font-weight: var(--normal);
}

.bold{
    font-weight: var(--bold);
}

/*Reseteando los estilos por defecto del navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: var(--fuente-principal);
}


.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position:relative; /*punto de referencia*/
    width: 100vw;
    overflow: hidden;
}

.pagina1, .pagina2{
    width: 100vw;
}

.pagina1{
    background-color:#59fb74d4;
    min-height: 100vh;
    overflow: hidden;
}

.pagina2{
    background-color: var(--color-blanco);
    position: absolute;
    opacity: 1;
    min-height: 100vh;
    transition: .5s all ease-in-out;
    left: 100%; /*100=afuera 0=adentro*/
    pointer-events: none;
}

.entrar{
    left: 0%;
    pointer-events: all;
}

@media(max-width:1400px){
      /*diseño pagina 1 1400px*/
   .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: 3.25rem;
}
.boton{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    min-height: 2.5rem;  
}

.boton a{
    background: linear-gradient(to right, transparent, var(--contraste));
    width: 50%;
    display:flex;
    margin-bottom: 1.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.1rem;
    justify-content: center;
    align-items: center;
    gap: 1.15rem;
    text-decoration: none;
    padding: .7rem;
    border-radius: 1.625rem;
    font-size: 4rem;
    font-weight: 800;
    transition: .2s all ease-in-out;
    

}
.boton a:nth-child(1){
    background-size: cover;
    background-position:100% 100%;
    color: var(--color-blanco);
    background-size: 300%;
}
.boton i{
    padding-top: 0.050rem;
    font-size: 2.5rem;
}


.info_foto{
    grid-column: 1/3;
    position: relative;
    text-align: center;
   
}

.info_img{
    border-radius: 50% 50% 50% 50%;
    border: 0.19rem solid var(--color-blanco);
    height: 30.625rem;
    width: 30.625rem;
    margin-top: 1.375rem;
    object-position: center;
    object-fit: cover;
}

.info_personal{
    padding: 1.5rem;
    height: auto;
}

.info_nombre{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    text-align: center;
}

.info_li{
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_icon{
    font-size: 2.6rem;
    margin-right: 1.625rem;
}

.info_txt p:nth-child(1){
    font-size: 2.5rem;
}

.info_txt p:nth-child(2){
    font-size: 2.25rem;
    font-weight: var(--bold);
}

/*diseño pagina 2 1400px*/

.formacion_academica{
    padding: 0 2.25rem;
    margin-bottom: 3.5625rem;
    margin-top: 3.875rem;
    grid-column: 1/5;
}

.academica_titulo{
    display: flex;
    align-items: center;
    margin-bottom: 1.625rem;
    justify-content: center;
}

.academica_titulo i{
    font-size: 4rem;
    margin-right: 1.3125rem;
}

.academica_titulo h2{
    font-size: 4.2rem;
    text-transform: uppercase;
}

.academica_txt table{
    font-size: 3.2rem;
}

.academica_txt td{
    padding-bottom: 1.3125rem;
    
}

.academica_año{
    font-weight: var(--bold);
    padding-right: 1.9375rem;
}

.experiencia_laboral{
    padding: 0 2.25rem;
    margin-bottom: 3.5625rem;
    margin-top: 3.875rem;
    grid-column: 1/5;
}

.laboral_titulo{
    display: flex;
    align-items: center;
    margin-bottom: 1.625rem;
    justify-content: center;
}

.laboral_titulo i{
    font-size: 4rem;
    margin-right: 1.3125rem;
}

.laboral_titulo h2{
    font-size: 4.2rem;
    text-transform: uppercase;
}

.laboral_txt table{
    font-size: 3.2rem;
}

.laboral_txt td{
    padding-bottom: 1.3125rem;
}

.laboral_año{
    font-weight: var(--bold);
    padding-right: 1.9375rem;
}

/*barra de contacto flotante 1400px*/

.info_contacto{
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: calc(100% - 2.5rem);
}

.contacto_txt{
    background: linear-gradient(to bottom, transparent, var(--contraste));
    padding: .4rem 1rem .25rem 1rem;
    border-radius: 1rem 1rem 0 0;
    
}

.contacto_txt p{
    color: var(--color-blanco);
    margin-bottom: -0.375rem;
    font-size: 4.5rem;
}

.contacto_iconos{
    background-color: var(--contraste);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: .35rem;
    width: 100%;
    border-radius: 1.2rem;
}

.contacto_iconos a{
    color: var(--color-blanco);
    font-size: 4.4rem;
}

.contacto_iconos a:hover{
    color: var(--tono);
    transform: scale(2);
}
}

@media(max-width:1200px){
     /*diseño pagina 1 1200px*/
     .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid: 3.25rem;
    }
    .boton{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
        min-height: 2.5rem;  
    }
    
    .boton a{
        background: linear-gradient(to right, transparent, var(--contraste));
        width: 50%;
        display:flex;
        margin-bottom: 1.625rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.1rem;
        justify-content: center;
        align-items: center;
        gap: 1.15rem;
        text-decoration: none;
        padding: .7rem;
        border-radius: 1.625rem;
        font-size: 4rem;
        font-weight: 800;
        transition: .2s all ease-in-out;
        
    
    }
    .boton a:nth-child(1){
        background-size: cover;
        background-position:100% 100%;
        color: var(--color-blanco);
        background-size: 300%;
    }
    .boton i{
        padding-top: 0.050rem;
        font-size: 2.5rem;
    }
    
    
    .info_foto{
        grid-column: 1/3;
        position: relative;
        text-align: center;
       
    }
    
    .info_img{
        border-radius: 50% 50% 50% 50%;
        border: 0.19rem solid var(--color-blanco);
        height: 30.625rem;
        width: 30.625rem;
        margin-top: 1.375rem;
        object-position: center;
        object-fit: cover;
    }
    
    .info_personal{
        padding: 1.5rem;
        height: auto;
    }
    
    .info_nombre{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: var(--bold);
        text-align: center;
    }
    
    .info_li{
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .info_icon{
        font-size: 2.6rem;
        margin-right: 1.625rem;
    }
    
    .info_txt p:nth-child(1){
        font-size: 2.5rem;
    }
    
    .info_txt p:nth-child(2){
        font-size: 2.25rem;
        font-weight: var(--bold);
    }
    
    /*diseño pagina 2 1200px*/
    
    .formacion_academica{
        padding: 0 2.25rem;
        margin-bottom: 3.5625rem;
        margin-top: 3.875rem;
        grid-column: 1/5;
    }
    
    .academica_titulo{
        display: flex;
        align-items: center;
        margin-bottom: 1.625rem;
        justify-content: center;
    }
    
    .academica_titulo i{
        font-size: 4rem;
        margin-right: 1.3125rem;
    }
    
    .academica_titulo h2{
        font-size: 4.2rem;
        text-transform: uppercase;
    }
    
    .academica_txt table{
        font-size: 3.2rem;
    }
    
    .academica_txt td{
        padding-bottom: 1.3125rem;
        
    }
    
    .academica_año{
        font-weight: var(--bold);
        padding-right: 1.9375rem;
    }
    
    .experiencia_laboral{
        padding: 0 2.25rem;
        margin-bottom: 3.5625rem;
        margin-top: 3.875rem;
        grid-column: 1/5;
    }
    
    .laboral_titulo{
        display: flex;
        align-items: center;
        margin-bottom: 1.625rem;
        justify-content: center;
    }
    
    .laboral_titulo i{
        font-size: 4rem;
        margin-right: 1.3125rem;
    }
    
    .laboral_titulo h2{
        font-size: 4.2rem;
        text-transform: uppercase;
    }
    
    .laboral_txt table{
        font-size: 3.2rem;
    }
    
    .laboral_txt td{
        padding-bottom: 1.3125rem;
    }
    
    .laboral_año{
        font-weight: var(--bold);
        padding-right: 1.9375rem;
    }
    
    /*barra de contacto flotante 1200px*/
    
    .info_contacto{
        position: fixed;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: calc(100% - 2.5rem);
    }
    
    .contacto_txt{
        background: linear-gradient(to bottom, transparent, var(--contraste));
        padding: .4rem 1rem .25rem 1rem;
        border-radius: 1rem 1rem 0 0;
        
    }
    
    .contacto_txt p{
        color: var(--color-blanco);
        margin-bottom: -0.375rem;
        font-size: 4.5rem;
    }
    
    .contacto_iconos{
        background-color: var(--contraste);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        padding: .35rem;
        width: 100%;
        border-radius: 1.2rem;
    }
    
    .contacto_iconos a{
        color: var(--color-blanco);
        font-size: 4.4rem;
    }
    
    .contacto_iconos a:hover{
        color: var(--tono);
        transform: scale(2);
    }
}

@media(max-width:992px){
   /*diseño pagina 1 TABLET grande?*/
   .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: 3.25rem;
}
.boton{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    min-height: 2.5rem;  
}

.boton a{
    background: linear-gradient(to right, transparent, var(--contraste));
    width: 50%;
    display:flex;
    margin-bottom: 1.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.1rem;
    justify-content: center;
    align-items: center;
    gap: 1.15rem;
    text-decoration: none;
    padding: .7rem;
    border-radius: 1.625rem;
    font-size: 2rem;
    font-weight: 700;
    transition: .2s all ease-in-out;
    

}
.boton a:nth-child(1){
    background-size: cover;
    background-position:100% 100%;
    color: var(--color-blanco);
    background-size: 200%;
}
.boton i{
    padding-top: 0.050rem;
    font-size: 1.5rem;
}


.info_foto{
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
    text-align: center;
   
}

.info_img{
    border-radius: 50% 50% 50% 50%;
    border: 0.1880rem solid var(--color-blanco);
    height: 20.625rem;
    width: 20.625rem;
    margin-top: 1.375rem;
    object-position: center;
    object-fit: cover;
}

.info_personal{
    grid-row: 2/3;
    padding: 1.5rem;
    height: auto;
}

.info_nombre{
    font-size: 2.5625rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    text-align: center;
}

.info_li{
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_icon{
    font-size: 2.5rem;
    margin-right: 1.625rem;
}

.info_txt p:nth-child(1){
    font-size: 2.125rem;
}

.info_txt p:nth-child(2){
    font-size: 2.25rem;
    font-weight: var(--bold);
}

/*diseño pagina 2 TABLET grande?*/

.formacion_academica{
    padding: 0 2.25rem;
    margin-bottom: 2.5625rem;
    margin-top: 2.875rem;
    grid-column: 1/5;
    grid-row: 1/3;

}

.academica_titulo{
    display: flex;
    align-items: center;
    margin-bottom: 1.625rem;
    justify-content: center;
}

.academica_titulo i{
    font-size: 2rem;
    margin-right: 1.3125rem;
}

.academica_titulo h2{
    font-size: 2.2rem;
    text-transform: uppercase;
}

.academica_txt table{
    font-size: 2.2rem;
}

.academica_txt td{
    padding-bottom: 1.3125rem;
    
}

.academica_año{
    font-weight: var(--bold);
    padding-right: 1.9375rem;
}

.experiencia_laboral{
    padding: 0 2.25rem;
    margin-bottom: 2.5625rem;
    grid-column: 1/5;
    grid-row: 3/5;
}

.laboral_titulo{
    display: flex;
    align-items: center;
    margin-bottom: 1.625rem;
    justify-content: center;
}

.laboral_titulo i{
    font-size: 2rem;
    margin-right: 1.3125rem;
}

.laboral_titulo h2{
    font-size: 2.2rem;
    text-transform: uppercase;
}

.laboral_txt table{
    font-size: 2.2rem;
}

.laboral_txt td{
    padding-bottom: 1.3125rem;
}

.laboral_año{
    font-weight: var(--bold);
    padding-right: 1.9375rem;
}

/*barra de contacto flotante TABLET grande?*/

.info_contacto{
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: calc(100% - 2.5rem);
}

.contacto_txt{
    background: linear-gradient(to bottom, transparent, var(--contraste));
    padding: .4rem 1rem .25rem 1rem;
    border-radius: 1rem 1rem 0 0;
    
}

.contacto_txt p{
    color: var(--color-blanco);
    margin-bottom: -0.375rem;
    font-size: 2.5rem;
}

.contacto_iconos{
    background-color: var(--contraste);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: .35rem;
    width: 100%;
    border-radius: 1.2rem;
}

.contacto_iconos a{
    color: var(--color-blanco);
    font-size: 3.4rem;
}

.contacto_iconos a:hover{
    color: var(--tono);
    transform: scale(1.5);
}
}

@media(max-width:768px){
    /*diseño pagina 1 TABLET*/
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid: 3.25rem;
    }
    .boton{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
        min-height: 2.5rem;  
    }
    
    .boton a{
        background: linear-gradient(to right, transparent, var(--contraste));
        width: 50%;
        display:flex;
        margin-bottom: 1.625rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.1rem;
        justify-content: center;
        align-items: center;
        gap: 1.15rem;
        text-decoration: none;
        padding: .7rem;
        border-radius: 1.625rem;
        font-size: 2rem;
        font-weight: 700;
        transition: .2s all ease-in-out;
        
    
    }
    .boton a:nth-child(1){
        background-size: cover;
        background-position:100% 100%;
        color: var(--color-blanco);
        background-size: 200%;
    }
    .boton i{
        padding-top: 0.050rem;
        font-size: 1.5rem;
    }
    
    
    .info_foto{
        grid-column: 1/3;
        grid-row: 1/3;
        position: relative;
        text-align: center;
       
    }
    
    .info_img{
        border-radius: 50% 50% 50% 50%;
        border: 0.1880rem solid var(--color-blanco);
        height: 20.625rem;
        width: 20.625rem;
        margin-top: 1.375rem;
        object-position: center;
        object-fit: cover;
    }
    
    .info_personal{
        grid-row: 2/3;
        padding: 1.5rem;
        height: auto;
    }
    
    .info_nombre{
        font-size: 2.5625rem;
        text-transform: uppercase;
        font-weight: var(--bold);
        text-align: center;
    }
    
    .info_li{
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .info_icon{
        font-size: 2.5rem;
        margin-right: 1.625rem;
    }
    
    .info_txt p:nth-child(1){
        font-size: 2.125rem;
    }
    
    .info_txt p:nth-child(2){
        font-size: 2.25rem;
        font-weight: var(--bold);
    }
    
    /*diseño pagina 2 TABLET*/
    
    .formacion_academica{
        padding: 0 2.25rem;
        margin-bottom: 2.5625rem;
        margin-top: 2.875rem;
        grid-column: 1/5;
        grid-row: 1/3;
    
    }
    
    .academica_titulo{
        display: flex;
        align-items: center;
        margin-bottom: 1.625rem;
        justify-content: center;
    }
    
    .academica_titulo i{
        font-size: 2rem;
        margin-right: 1.3125rem;
    }
    
    .academica_titulo h2{
        font-size: 2.2rem;
        text-transform: uppercase;
    }
    
    .academica_txt table{
        font-size: 2.2rem;
    }
    
    .academica_txt td{
        padding-bottom: 1.3125rem;
        
    }
    
    .academica_año{
        font-weight: var(--bold);
        padding-right: 1.9375rem;
    }
    
    .experiencia_laboral{
        padding: 0 2.25rem;
        margin-bottom: 2.5625rem;
        grid-column: 1/5;
        grid-row: 3/5;
    }
    
    .laboral_titulo{
        display: flex;
        align-items: center;
        margin-bottom: 1.625rem;
        justify-content: center;
    }
    
    .laboral_titulo i{
        font-size: 2rem;
        margin-right: 1.3125rem;
    }
    
    .laboral_titulo h2{
        font-size: 2.2rem;
        text-transform: uppercase;
    }
    
    .laboral_txt table{
        font-size: 2.2rem;
    }
    
    .laboral_txt td{
        padding-bottom: 1.3125rem;
    }
    
    .laboral_año{
        font-weight: var(--bold);
        padding-right: 1.9375rem;
    }
    
    /*barra de contacto flotante TABLET*/
    
    .info_contacto{
        position: fixed;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: calc(100% - 2.5rem);
    }
    
    .contacto_txt{
        background: linear-gradient(to bottom, transparent, var(--contraste));
        padding: .4rem 1rem .25rem 1rem;
        border-radius: 1rem 1rem 0 0;
        
    }
    
    .contacto_txt p{
        color: var(--color-blanco);
        margin-bottom: -0.375rem;
        font-size: 2.5rem;
    }
    
    .contacto_iconos{
        background-color: var(--contraste);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        padding: .35rem;
        width: 100%;
        border-radius: 1.2rem;
    }
    
    .contacto_iconos a{
        color: var(--color-blanco);
        font-size: 3.4rem;
    }
    
    .contacto_iconos a:hover{
        color: var(--tono);
        transform: scale(1.5);
    }
}

@media(max-width:576px){
    /*diseño pagina 1 CELULAR*/

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: 1.25rem;
}
.boton{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    min-height: 2.5rem;  
}

.boton a{
    background: linear-gradient(to right, transparent, var(--contraste));
    width: 50%;
    display:flex;
    margin-bottom: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.1875rem;
    justify-content: center;
    align-items: center;
    gap: 0.15rem;
    text-decoration: none;
    padding: .7rem;
    border-radius: 0.625rem;
    font-size: .9rem;
    font-weight: 600;
    transition: .2s all ease-in-out;
    

}
.boton a:nth-child(1){
    background-size: cover;
    background-position:100% 100%;
    color: var(--color-blanco);
    background-size: 200%;
}
.boton i{
    padding-top: 0.0625rem;
    font-size: 1.5rem;
}


.info_foto{
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
    text-align: center;
   
}

.info_img{
    border-radius: 50% 50% 50% 50%;
    border: 0.1875rem solid var(--color-blanco);
    height: 15.625rem;
    width: 15.625rem;
    margin-top: 0.375rem;
    object-position: center;
    object-fit: cover;
}

.info_personal{
    grid-row: 2/3;
    padding: 0.5rem;
    height: auto;
}

.info_nombre{
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    text-align: center;
}

.info_li{
    padding-top: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_icon{
    font-size: 1.25rem;
    margin-right: 0.625rem;
}

.info_txt p:nth-child(1){
    font-size: 1.125rem;
}

.info_txt p:nth-child(2){
    font-size: 1.25rem;
    font-weight: var(--bold);
}

/*diseño pagina 2 CELULAR*/

.formacion_academica{
    padding: 0 1.25rem;
    margin-bottom: 1.5625rem;
    margin-top: 1.875rem;
    grid-column: 1/5;
    grid-row: 1/3;
}

.academica_titulo{
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.academica_titulo i{
    font-size: 0.9375rem;
    margin-right: 0.3125rem;
}

.academica_titulo h2{
    font-size: 1.125rem;
    text-transform: uppercase;
}

.academica_txt table{
    font-size: 1.125rem;
}

.academica_txt td{
    padding-bottom: 0.3125rem;
}

.academica_año{
    font-weight: var(--bold);
    padding-right: 0.9375rem;
}

.experiencia_laboral{
    padding: 0 1.25rem;
    margin-bottom: 1.5625rem;
    grid-column: 1/5;
    grid-row: 3/5;
}

.laboral_titulo{
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.laboral_titulo i{
    font-size: 0.9375rem;
    margin-right: 0.3125rem;
}

.laboral_titulo h2{
    font-size: 1.125rem;
    text-transform: uppercase;
}

.laboral_txt table{
    font-size: 1.125rem;
}

.laboral_txt td{
    padding-bottom: 0.3125rem;
}

.laboral_año{
    font-weight: var(--bold);
    padding-right: 0.9375rem;
}

/*barra de contacto flotante CELULAR*/

.info_contacto{
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: calc(100% - 2.5rem);
}

.contacto_txt{
    background: linear-gradient(to bottom, transparent, var(--contraste));
    padding: .4rem 1rem .25rem 1rem;
    border-radius: 1rem 1rem 0 0;
    
}

.contacto_txt p{
    color: var(--color-blanco);
    margin-bottom: -0.375rem;
    font-size: 1.5rem;
}

.contacto_iconos{
    background-color: var(--contraste);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: .35rem;
    width: 100%;
    border-radius: 1.2rem;
}

.contacto_iconos a{
    color: var(--color-blanco);
    font-size: 2.4rem;
}

.contacto_iconos a:hover{
    color: var(--tono);
    transform: scale(1.2);
}
}